.social {
  color: #fff;

  span:first-child {
    font-size: calc(0.9em + 1vw);
    color: #696c84;
    position: relative;
  }

  .links {
    margin-top: 5em;

    h3 {
      font-family: 'Roboto', sans-serif;
      margin-bottom: 1em;
      font-weight: 400;
    }

    div {
      // grid responsive
      display: flex;
      flex-wrap: wrap;

      gap: 1em;
      margin-top: 1em;

      i {
        margin-right: 10px;
      }

      a {
        display: inline-block;
        width: 200px;
        color: #5918df;
        text-decoration: none;
        font-size: calc(0.5rem + 1vw);
        font-weight: 600;
        transition: all 0.3s ease;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .social {
    padding: 2em 0;

    .links {
      div {
        gap: 3em;
        a {
          width: auto;
          font-size: calc(0.8em + 1vw);
        }
      }
    }
  }
}
