.project-pages__container__item {
  width: 410px;
  height: 230px;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:hover {
    .project-pages__container__item__image {
      transform: scale(1.15);
      filter: drop-shadow(0 0 0.75rem #000);
    }
  }

  &:active {
    .project-pages__container__item__image {
      transform: scale(0.8);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      position: relative;
    }
  }

  &__overlay {
    position: absolute;
    top: 6%;
    left: -5em;
    width: 100%;
    height: 87%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 1em;
    width: 30%;

    .name {
      color: #fff !important;
      font-weight: 600;
      display: inline;

      &:nth-child(1) {
        font-size: calc(0.7rem + 1vw);
        padding-bottom: 0.5em;
        border-bottom: 3px solid #fff;
        position: relative;
        z-index: 10;
        filter: none !important;
      }
    }
    .project-pages__container__item__shadow {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(0, 0, 0, 0.5);
      filter: blur(2em);
      z-index: 1;
    }

    div {
      span,
      i {
        font-size: calc(0.3rem + 1vw);
        font-weight: 600;
        transition: all 0.3s ease-in-out;
      }
      i {
        margin-top: 0.3em;
      }

      span {
        margin: 0;
      }
    }
  }

  &:hover &__overlay div i {
    transform: translateX(0.5em);
  }
}

.vertical {
  height: 315px;
  width: 280px;

  .project-pages__container__item__image__shadow {
    top: 0;
    height: 100%;
  }
}

@media screen and (max-width: 1250px) {
  .project-pages__container__item {
    width: 310px;
    height: 180px;
    justify-content: space-between;
  }

  .vertical {
    width: 240px;
    height: 300px;
  }
}

@media screen and (max-width: 1050px) {
  .project-pages__container__item {
    width: 260px;
    height: 150px;
    justify-content: space-between;
  }

  .vertical {
    width: 200px;
    height: 250px;
  }
}

@media screen and (max-width: 950px) {
  .project-pages__container__item {
    width: 220px;
    height: 130px;
    justify-content: space-between;

    &__image {
      img {
      }
    }
  }

  .vertical {
    width: 180px;
    height: 225px;
  }
}

@media screen and (max-width: 870px) {
  .project-pages__container__item {
    width: 200px;
    height: 120px;
    justify-content: space-between;
    margin: 2em !important;
  }

  .vertical {
    width: 160px;
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .project-pages__container__item {
    width: 410px;
    height: 230px;
    margin: 0 0 0 5em !important;

    &__overlay {
      div {
        span,
        i {
          font-size: calc(0.6rem + 1vw);
        }
      }
    }
  }
  .vertical {
    width: 280px;
    height: 315px;
    margin: 0 0 0 3em !important;
  }

  .project-pages__container__item {
  }
}

@media screen and (max-width: 520px) {
  .project-pages__container__item {
    width: 200px;
    height: 120px;

    &__overlay {
      div {
        span,
        i {
          font-size: calc(0.6rem + 1vw);
        }
      }
    }
  }
  .vertical {
    width: 160px;
    height: 225px;
  }
}
