.home-page {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // the height of the page is the height of the viewport minus the height of the header and the margin-top of the page
  height: calc(100vh - (6em + 3em));
  padding: 0 5em 0 6.5em;
  color: #fff;
}

.my-info-container {
  width: 70%;
  align-self: center;
}

@media (max-width: 768px) {
  .home-page {
    padding: 0;
  }

  .my-info-container {
    width: 100%;
  }
}
