.modal {
  width: clamp(70%, 700px, 90%);
  height: min(50%, 300px);
  margin: auto;
  padding: 1rem;
  border-radius: 10px;
  color: #fff;

  .close-modal {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
    cursor: pointer;
    font-size: calc(0.3rem + 1vw);

    &:hover {
      color: tomato;
    }
  }
}

@media (max-width: 768px) {
  .modal {
    width: 100%;
    padding: 1em 0;
    height: 30%;

    .close-modal {
      font-size: calc(1rem + 1vw);
    }
  }
}
