.desc-navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5em 0;
  z-index: 1000;
  backdrop-filter: blur(25px);
  transition: all 0.3s ease-in-out;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    height: 50px;
    width: 100%;

    li a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
      gap: 0.2em;
      font-size: calc(0.5rem + 1vw);

      &:active {
        color: #09f;
        transform: scale(1.2);
      }
    }
  }

  i,
  a {
    color: #fff;
    padding: 0.3em 0;
  }
}

.desc-navigation--hide {
  transform: translateY(100%);
}
