.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5em 5em;
  min-height: 6em;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(5px);
  transition: all 0.3s ease-in-out;

  .logo-container {
    display: flex;
    align-items: center;
    gap: 0.5em;
    text-decoration: none;
    width: 20%;
    color: #fff;

    img {
      width: calc(1.05rem + 1vw);
      //width: 30px;
    }

    span {
      font-weight: bold;
      font-size: calc(0.1rem + 1vw);
    }
  }

  nav {
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

.header-container--hide {
  transform: translateY(-100%);
}

// RESPONSIVE
@media (max-width: 768px) {
  .header-container {
    padding: 1.5em 1em;
    width: 100vw;
    .logo-container {
      width: 50%;

      img {
        width: calc(2rem + 1vw);
      }

      span {
        font-size: calc(1rem + 1vw);
      }
    }
    .bar-menu-container {
      .content {
        width: calc(1.5rem + 1vw);
        .bar-menu__line {
          height: 3px;
        }
      }
    }
    nav {
      display: none;
    }
  }
}
