.project-list {
  transform-style: preserve-3d;
  z-index: 100;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .project-list {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    padding: 1em;
    gap: 5em;
  }
}
