.about-page {
  background: #14121c;
  min-height: 100vh;
  padding: 0 15em;

  position: relative;

  &::before {
    content: '';
    position: absolute;

    bottom: 0;
    background: linear-gradient(0deg, #0e0d10, transparent);
    width: 100%;
    left: 0;
    height: 2em;
  }
}
