.about-page {
  background: var(--bg-dark, #14121c);
  min-height: 110vh;
  padding: 0 var(--page-right) 4rem var(--page-left);
  width: 100%;
  margin: 0;
  position: relative;
  overflow-x: hidden;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, var(--bg-contact, #0e0d10), transparent);
    width: 100%;
    left: 0;
    height: 3em;
    pointer-events: none;
  }
}
