.profile {
  display: inline-flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em 2em;
  position: relative;

  small {
    margin-top: -1em;
    margin-bottom: 1em;
    font-size: calc(1rem + 1vw);
    color: #696c84;
    top: 0;
    font-family: 'Roboto', sans-serif;
  }

  &__data {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 0.8em;
    padding: 1em 0;

    &__name {
      font-size: calc(1.3rem + 1vw);
      font-weight: 700;
      position: relative;

      p {
        display: flex;
        flex-direction: column;
        gap: 0.3em;

        span:first-child span {
          color: #5918df;
        }

        span:nth-child(2) {
          font-size: calc(0.8rem + 1vw);

          span {
            font-weight: 400;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
              'Lucida Sans', Arial, sans-serif;
          }
        }
      }
    }

    &__ocupation {
      font-size: calc(0.5rem + 1vw);
      position: relative;
      margin-top: 1em;

      span {
        color: #696c84;
      }
    }
  }

  &__contact {
    margin-top: 1em;
    position: relative;
    font-size: calc(0.01rem + 1vw);
    .contact,
    .CV {
      border: 2px solid #fff;
      border-radius: 20px;
      padding: 0.5em 1em;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: #fff;
        span {
          color: #000;
        }
      }
    }

    .CV {
      margin-left: 1em;
    }
  }
}

@media (max-width: 768px) {
  .profile {
    padding: 1em 0;
    gap: 1em;
    margin-left: 4.5em;

    small {
      font-size: calc(1.3rem + 1vw);
    }

    &__data {
      gap: 0.5em;
      margin-top: 3em;

      &__name {
        font-size: calc(1.8rem + 1vw);

        p {
          span:nth-child(2) {
            margin-top: 1em;
            font-size: calc(1rem + 1vw);
          }
        }
      }

      &__ocupation {
        font-size: calc(0.8rem + 1vw);
      }
    }

    &__contact {
      margin-top: 10em;
      span {
        font-size: calc(0.8rem + 1vw);
      }

      .contact,
      .CV {
        padding: 0.5em 0.5em;
      }
    }
  }
}
